{% extends "project.html" %}

{% block title_name %}
    {{ node.title }}
{% endblock %}

{% block content %}
    <div id="container" style="width:100%;height:100%;">

    <div id="header" style="background-color:green;">
        <h1 style="margin-bottom:0;text-align:center;">
            {{ node.title }}
        </h1>
    </div>

    <div id="menu" style="background-color:pink;float:left;text-align:center;">
        <img src="{{ node.posters.detailed }}">
        </img>
        <br>
        <b>Rating:</b>
        <br>
        <i>Critics Score:</i>
        {{ node.ratings.critics_score }}
        <br>
        <i>Audience Score:</i>
        {{ node.ratings.audience_score }}
        
    </div>

    <div id="content" style="background-color:yellow;float:left;">
        <br>
        <br>
        <i>{{ node.synopsis }}</i>
        <br>
        <br>
        <br>
        <b>CAST:</b>
        <br>
        {% for cast in node.abridged_cast %}
            <i>{{ cast.name }}    playing    </i>
            <i>{{ cast.characters }}</i>
            <br>
            <br>
        {% endfor %}        
    </div>
{% endblock %}
