{% extends "project.html" %}



{% block title_name %}
    {{ node.title }}
    movies
{% endblock %}

{% block heading_name %}
   {{ node.title }}
   MOVIES LIST
{% endblock %}


{% block content %}
<table summary="table for movie release in 2014" align="center">
    <thead>
        <tr>
            <th class="Movie">Movie</th>
            <th class="Release_Date">Release Date</th>
            <th class="MPAA Rating">MPAA Rating</th>
            <th class="Poster">Poster</th> 
        </tr>
    </thead>
    {% for movie in node.movies %}
        <tbody>
            <tr>
                <td class="start">
                    {% if addr %}
                        <a href="/{{ addr }}/{{ movie.title }}/">{{ movie.title }}</a>
                    {% else %}
                        <a href="/Movies/">{{ movie.title }}</a>
                    {% endif %}
                </td>
                <td>{{ movie.release_dates.theater }}</td>
                <td>{{ movie.mpaa_rating }}</td>
                <td><img src="{{ movie.posters.thumbnail }}"></img></td>
            </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock %}
